<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PickleMe</title>
</head>
<body>
	<div align="center">

		<div>
			<h1 style="color: Green; font-size: 20">Pickle Me</h1>

			<a href="/">Home</a> 
			&nbsp;&nbsp;
			 <a href="Todays_Special">Todays Special</a> 
			 &nbsp;&nbsp; 
			 <a href="Search">Search</a>

		</div>

		<div>&nbsp;</div>
		
		<div>
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>Food Id</th>
						<th>Food Name</th>
						<th>Food Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="menu : ${listmenu}">
						<td th:text="${menu.id}">id</td>
						<td th:text="${menu.name}">name</td>
						<td th:text="${menu.price}">price</td>
						<td><a th:href="@{'/edit/' + ${menu.id}}">Edit</a> 
						&nbsp;		&nbsp; 
						<a th:href="@{'/delete/' + ${menu.id}}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- <script type="text/javascript">
	function clearFilter(){
		window.location= '/';
	}
	</script> -->
</body>
</html>